<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
    	<!-- useGeneratedKeys设置为 true 时，表示如果插入的表id以自增列为主键，
    	则允许 JDBC 支持自动生成主键，并可将自动生成的主键id返回。
		useGeneratedKeys参数只针对 insert 语句生效，默认为 false； -->
       	<setting name="useGeneratedKeys" value="true"/>
		<!-- 使用列标签代替列名。不同的驱动在这方面会有不同的表现，
		 具体可参考相关驱动文档或通过测试这两种不同的模式来观察所用驱动的结果。 -->
        <setting name="useColumnLabel" value="true"/>
		<!-- 开启驼峰自动映射 create_time -> createTime-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>