<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示对应的对象映射-->
<mapper namespace="com.datamanage.business.common.dao.DBInfoMapper">
    <select id="queryDBInfoByUser" resultType="com.datamanage.business.common.model.DBInfo">
        select * from DM_DATASOURCE where CREATOR = #{userId}
    </select>

    <select id="queryDBInfoById" resultType="com.datamanage.business.common.model.DBInfo">
        select * from DM_DATASOURCE where ID = #{id}
    </select>

    <!--useGeneratedKeys为true表示新增成功，就会返回一个主键的值-->
    <!--keyProperty表示数据库主键的值在代码中的映射-->
    <!--keyColumn表示数据库对应的字段-->
    <!--parameterType表示方法参数类型-->
    <insert id="insertDBInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="ID"
            parameterType="com.datamanage.business.common.model.DBInfo">
        insert into
            DM_DATASOURCE(ID,NAME,DRIVERTYPE,VERSION,IP,PORT,DB,USER,PASSWORD,REMARKS,CREATOR,CREATOR,MODIFIER,UPDATETIME)
        values
            (#{id},#{name},#{driverType},#{version},#{ip},#{port},#{db},#{user},#{password},#{remarks}
            ,#{creator},#{createTime},#{modifier},#{updateTime})
    </insert>
    
    <update id="updateDBInfo" parameterType="com.datamanage.business.common.model.DBInfo">
        update DM_DATASOURCE
        <set>
            <if test="id!=null">ID=#{id}</if>
            <if test="name!=null">NAME=#{name}</if>
            <if test="driverType!=null">DRIVERTYPE=#{driverType}</if>
            <if test="version!=null">VERSION=#{version}</if>
            <if test="ip!=null">IP=#{ip}</if>
            <if test="port!=null">PORT=#{port}</if>
            <if test="db!=null">DB=#{db}</if>
            <if test="user!=null">USER=#{user}</if>
            <if test="password!=null">PASSWORD=#{password}</if>
            <if test="remarks!=null">REMARKS=#{remarks}</if>
            <if test="modifier!=null">MODIFIER=#{modifier}</if>
            <if test="updateTime!=null">UPDATETIME=#{updateTime}</if>
        </set>
        where ID = #{id}
    </update>

    <delete id="deleteDBInfo">
        DELETE from DM_DATASOURCE where ID = #{id}
    </delete>

</mapper>